/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body{
	box-sizing: border-box;
	padding: 5%;
	margin-left: auto;
	margin-right: auto;
}
.navigation{
	box-sizing: border-box;
	display: inline-block;
	/* position: absolute; */
	width: auto;
	margin-bottom: 10px;
	color: gray;
	z-index: 999;
}
.navigation a{
	margin-left: -50px;
	padding: 40px 80px;
	color: gray;
	text-decoration: none;
	font-weight: bold;
	/* text-shadow: 2px 2px 3px lightslategray; */
}
.navigation a:hover{
	/* display: inline-block; */
	background-color: aqua;
	border-radius: 15px 50px;
	color: slategray;
	font-weight: bold;
	text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
	/* text-shadow: 2px 2px 4px #000000; */
	/* z-index: 999; */
}
.navigation .logo{
	display: inline-block;
	/* z-index: -1; */
	margin-left: 50px;
	margin-right: 0px;
	margin-bottom: -10px;
}
header{
	box-sizing: border-box;
	display: inline-flex;
	/* background-color: aqua; */
	width: 100%;
	padding: 30px;
	padding-left: 300px;
	border-bottom: 1px solid black;
}
.iod{
	display: block;
	margin-left: -150px;
	margin-top: 50px;
	margin-right: 100px;
}
h1{
	box-sizing: border-box;
	display: inline-block;
	font-size: 70px;
	text-align: center;
	position: relative;
	text-shadow: 5px 5px 3px gray;
}
.button{
	border: 1px solid black;
	background-color: white;
	width: 200px;
	padding: 5px 20px 5px;
	margin: 0 auto;
	margin-bottom: 50px;
	display: inline-block;
	color: gray;
	font-weight: bold;
	box-shadow: 3px 3px 5px gray;
	font-weight: bold;
	border-radius: 180px
}
.button:hover{
	background-color:rgba(0, 255, 255, 0.8);
	color: slategray;
	font-weight: bold;
	text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}
.header-img{
	box-sizing: border-box;
	display: inline-block;
	padding-left: 180px;
}
.section1{
	box-sizing: border-box;
	width: 100%;
}
.section1 .left{
	box-sizing: border-box;
	width: 48%;
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 3%;
	text-shadow: 3px 3px 5px gray;
}
.section1 .left:hover{
	transform: scale(1.1);
}
.section1 .right{
	box-sizing: border-box;
	width: 48%;
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 50px;
	text-shadow: 3px 3px 5px gray;
}
.section1 .right:hover{
	transform: scale(1.1);
}
.middle-img{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-radius: 10px;
	box-shadow: 5px 5px 5px gray;
}
.section2{
	box-sizing: border-box;
	width: 100%;
	border-bottom: 1px solid black;
}
.section2 .left{
	box-sizing: border-box;
	width: 30%;
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 4%;
	text-shadow: 3px 3px 5px gray;
}
.section2 .left:hover{
	transform: scale(1.1);
}
.section2 .center{
	box-sizing: border-box;
	width: 30%;
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 4%;
}
.section2 .center:hover{
	transform: scale(1.1);
}
.section2 .right{
	box-sizing: border-box;
	width: 30%;
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 50px;
	text-shadow: 3px 3px 5px gray;
}
.section2 .right:hover{
	transform: scale(1.1);
}
.contact{
	box-sizing: border-box;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: left;
}
.contact .info{
	box-sizing: border-box;
	margin-top: 20px; 
	margin-bottom: 20px;
}
footer{
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	padding: 20px;
	/* margin-left: auto;
	margin-right: auto; */
	text-shadow: 3px 3px 5px gray;
}
h2{
	text-shadow: 5px 5px 3px gray;
}